.myBill {
    /*border: solid 5px black;*/
    width: 100%;
    height: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.h1-billing {
    /*border: 5px solid blue;*/
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    margin-left: 10%;
    margin-top: 70px;
}

.billTable {
    /*border: 2px solid red;*/
    width: 40%;
}

.cartTable {
    position: absolute;
    top: 300px;
    left: 1100px;
    /*border: 2px solid pink;*/
    width: 30%;
}

form {
    /*border: solid green 5px;*/
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
}

label {
    font-weight: bold;
    font-size: 100%;
}

input {
    width: 320px;
    height: 25px;
    margin-bottom: 25px;
    margin-right: 30px;
    padding: 2px 5px;
    font-size: 16px;
}

.card-type {
    width: 335px;
    height: 35px;  
    margin-bottom: 25px;
    margin-right: 30px;
}

.expire-date {
    width: 75px;
    height: 35px;
}

.btn {
    position: relative;
    left: 1200px;
    height: 40px;
    width: 250px;
    background-color: black;
    color: white;  
}

.error {
    width: 88%;
    padding: 10px;
    border: 1px solid #A94442;
    color: #A94442;
    background: #F2DEDE;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 15px;
}

.image{
    width: 136px;
    height: 136px;
}

#productTitle{
    text-align: left;
}

.productList{
    margin-left: 10px;
}
.itemImage{
    width: 15%;
}

.quantity{
    width: 55px;
}

.subtotalRow{
    height: 45px;
}

.remove{
    margin-top: 20px;
    width: 55px;
    font-size: 80%;
}
.update{
    width: 55px;
    margin-top: 2px;
    font-size: 80%;
}