#container {
    width:100%;
    content: "";
    display: table;
    clear: both;
}
.details{
    text-align: right;
    margin-left: 50px;  
    width: 20%;
    padding: 15px;
    float: left;
    margin-top: 110px;
}
.details h2{
    font-size: 19px;
}
.details p{
    font: 15px sans-serif;
}
.productImage{
    margin-top: 100px;
    margin-left: 8%;
    width: 32%;
    /* display: inline-block;
    margin:0 auto; */
    float: left;
}
.descriptions{
    width: 16%;
    float: left;
    margin-top: 110px;
    margin-left: 10%;
    padding: 15px;
}
.descriptions h3{
    font-size: 19px;
}

.sizeSelector {
    width: 260px;
    height: 50px;
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
}

.sizeSelector li {
    float:left;
    /* margin:0 5px 0 0; */
    width:40px;
    height:40px;
    position:relative;
}

.sizeSelector label, .sizeSelector input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 25px;
    height: 25px;
}

.sizeSelector input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.sizeSelector input[type="radio"]:checked + label {
    background:grey;
}

.sizeSelector label {
    padding:5px;
    border:1px solid #CCC; 
    cursor:pointer;
    z-index:90;
}

.sizeSelector label:hover {
    background:#DDD;
}

.submit{
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    float: left; 
    font-size: 15px;
}

.submitButton{
    margin-top:50px;
}