.maddox-catbox
{
    position: relative;
    top: 50px;
    left: 200px;
    width: 1530px;
    height: 500px;
}

.maddox-header
{
    position: relative;
    top: 50px;
    left: 500px;
    width: 40%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.maddox-tagline
{
    position: relative;
    top: 100px;
    left: 620px;
    width: 25%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.maddox-btn
{
    list-style: none;
}

.maddox-btn li
{
    display: inline-block;
}

.maddox-btn li a
{
    position: relative;
    top: 150px;
    left: 665px;
    border: 0.5px solid black;
    color: black;
    text-decoration: none;
    padding: 15px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: inherit;
}

.maddox-btn li a:hover
{
    background-color: black;
    color: white;
    transition: all .5s ease;
}





/*.hensley-catbox
{
    position: relative;
    top: 400px;
    left: 200px;
    width: 1500px;
    height: 600px;
}

.hensley-header
{
    position: relative;
    top: 50px;
    left: 500px;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.hensley-tagline
{
    position: relative;
    top: 100px;
    left: 620px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.hensley-btn
{
    list-style: none;
}

.hensley-btn li
{
    display: inline-block;
}

.hensley-btn li a
{
    position: relative;
    top: 150px;
    left: 640px;
    border: 0.5px solid black;
    color: black;
    text-decoration: none;
    padding: 15px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: inherit;
}

.hensley-btn li a:hover
{
    background-color: black;
    color: white;
    transition: all .5s ease;
}*/